<div class="container">
    <h2 class="text-center">Regitro de Mascotas</h2>
  <form class="row" [formGroup]="formularioMascota" (ngSubmit)="agregarMascota();">
    <div class="form-group col-4">
      <label >Nombre:</label>
      <input class="form-control mb-3" type="text" formControlName="nombre" />
      <p class="alert alert-danger" *ngIf="formularioMascota.touched &&  formularioMascota.get('nombre')?.errors?.['required']">El campo nombre es requerido</p>
      <p  class="alert alert-danger" *ngIf="formularioMascota.touched &&  formularioMascota.get('nombre')?.errors?.['pattern']">El campo nombre debe tener  al menos una letra mayuscula y minuscula</p>
    </div>
    <div class="form-group col-4">
      <label>Edad:</label>
      <input  class="form-control mb-3" type="text" formControlName="edad"/>
      <p  class="alert alert-danger" *ngIf="formularioMascota.touched && formularioMascota.get('edad')?.errors?.['required']">El campo edad es requerido</p>
      <p  class="alert alert-danger" *ngIf="formularioMascota.get('edad')?.errors?.['pattern']">El campo edad debe ser tipo numerico</p>
    </div>
    <div class="form-group col-4">
      <label>Raza:</label>
      <input  class="form-control mb-3" type="text" formControlName="raza"/>
      <p  class="alert alert-danger" *ngIf="formularioMascota.touched &&  formularioMascota.get('raza')?.errors?.['pattern']">El campo raza debe tener almenos una letra mayuscula y minuscula</p>
      <p  class="alert alert-danger" *ngIf=" formularioMascota.touched && formularioMascota.get('raza')?.errors?.['required']">El campo raza es requerido</p>

    </div>
    <div class="form-group">
      <label>Numero de Contacto:</label>
      <input  class="form-control mb-3" type="text" formControlName="contacto"/>
      <p  class="alert alert-danger" *ngIf=" formularioMascota.touched && formularioMascota.get('contacto')?.errors?.['required']">El campo numero de contacto es requerido</p>
      <p  class="alert alert-danger" *ngIf="formularioMascota.get('contacto')?.errors?.['pattern']">El campo numero de contacto debe ser tipo numerico</p>
      <p  class="alert alert-danger" *ngIf="formularioMascota.get('contacto')?.errors?.['minlength'] || formularioMascota.get('contacto')?.errors?.['maxlength']">El formato de numero de contacto debe tener 8 numeros</p>
    </div>
    <div class="form-group">
      <label>Nombre del dueño:</label>
      <input  class="form-control mb-3" type="text" formControlName="dueño"/>
      <p  class="alert alert-danger" *ngIf="formularioMascota.touched && formularioMascota.get('dueño')?.errors?.['required']">El campo nombre del dueño es requerido</p>
      <p  class="alert alert-danger" *ngIf="formularioMascota.touched &&  formularioMascota.get('dueño')?.errors?.['pattern']">El campo nombre del dueño debe tener  almenos una letra mayuscula y minuscula</p>
    </div>
    <br>
    <button type="submit" class="btn btn-primary float-right" [disabled]="formularioMascota.invalid">Agregar mascota</button>
  </form>
</div>
