.navbar__backgrounrd{
  background: black;
}
.navbar__color{
  color:white;

}
.background__list{
  background:rgb(5, 183, 228);

}
.color__list{
  color:white;

}
.background__listgroup{
  background:rgb(6, 152, 189);

}
